{% extends 'partials/layout' %}
{% block title %}Servicios financieros y empresariales | {{ siteName }}{% endblock %}
{% block metas %}

    <meta content="Consultoría empresarial y fiscal | {{ siteName }}" property="og:title"/>
    <meta content="Conoce nuestro catalogo de servicios, somos especialistas en: Servicios fiscales, auditorias, declaraciones de impuestos, Gestión de talento humano, prevención de lavado de dinero y mucho más." name="description">
    <meta content="Conoce nuestro catalogo de servicios, somos especialistas en: Servicios fiscales, auditorias, declaraciones de impuestos, Gestión de talento humano, prevención de lavado de dinero y mucho más." property="og:description">
    <meta property="og:image" content="/images/og-image.png">
	<meta property="og:url" content="{{siteUrl}}">
	<meta name="twitter:card" content="summary_large_image"/>
{% endblock %}

{% block content %}
    {% include 'partials/nav' %}

    <main class="services-hero flex items-center">
        <div class="mwc center ph3 tc">
            <h1 class="ttu fw5 white">Portafolio de <span class="b">Servicios</span></h1>
            <p class="f3 fw5 white">Conoce los servicios que ofrecemos.</p>
            <a class="special-btn ph3 pv3 br2 inline-flex tc db center" href="{{url('contacto')}}">Contáctanos</a>
        </div>
    </main>
    
    <section class="intro-services pv5-ns pv3">
        <div class="mwc center ph3">
            <div class="tc w-70-ns center">
                <h2 class="fw5 black-60 f2 mb0 pb2">Nuestros servicios</h2>
                <p class="lh-copy f5 fw5 mt0 pt1">Optimizamos la gestión de los recursos con eficiencia para ahorrar tiempo y esfuerzos invertidos durante los procesos agregando valor.
                </p>
            </div>
            <img class="w-100" src="/images/services-1.png" alt="Portafolio de servicios Financieros" />
        </div>
    </section>

    <div class="services-grid">
        {% set services = craft.entries()
            .section('services')
            .with(['serviceImg']) 
            .all() %}
        {% for service in services %}
        {% set image = service.serviceImg[0] ?? null %}    
        <section class=" pv5-ns pv3">
           
            <div class="mwc center ph3 ">
                <div class="flex flex-wrap serv-sect">
                    <div class="w-50-ns w-100 ph4-ns ph0">
                        <div></div>
                        <h2 class="black-50 f2 fw5">{{ service.title }}</h2>
                        <p class="lh-loose f5 fw5">{{service.servFragment }}
                        </p>
                        <a class="inline-flex prim-color no-underline" target="_blank" href="{{ service.url }}">Más Información <i class="ml2 fas fa-arrow-right"></i></a>
                    </div>
                    <div class="w-50-ns w-100 ph4-ns ph0">
                        <img src="{{ image.url }}" alt="{{ service.title }}" />
                    </div>
                </div>
            </div>
        </section>
        <hr>
        {% endfor %}
    </div>
    {% include 'partials/footer' %}
{% endblock %}