{% extends 'partials/layout' %}
{% block title %} Contáctanos | {{ siteName }}{% endblock %}
{% block metas %}
    
    <meta content="Acerca de nosotros  | {{ siteName }}" property="og:title"/>
    <meta content="En Grupo Ciesc siempre estamos listos para resolver tus problemas fiscales, contables o de impuestos. Llámanos al {{ companyInfo.pachucaPhone }} y escríbenos  a {{ companyInfo.email }}" name="description">
    <meta content="En Grupo Ciesc siempre estamos  listos para resolver tus problemas fiscales, contable o de impuestos. Llámanos al {{ companyInfo.pachucaPhone }} y escríbenos  a {{ companyInfo.email }}" property="og:description">
    <meta property="og:image" content="/images/og-image.png">
	<meta property="og:url" content="{{siteUrl}}">
	<meta name="twitter:card" content="summary_large_image"/>
{% endblock %}

{% block content %}
    
    <main class="contact-hero">
        {% include 'partials/nav' %}
        <div class="mwc center ph3 tc vh-50 flex items-center justify-center">
            <div>
                <h1 class="ttu fw5 white">Contáctanos  <span class="b">Ahora</span></h1>
                <p class="f3 fw5 white">¿Deseas conocer nuestros servicios ?</p>
                <a href="{{url('servicios')}}" class="white db pv4">Click aquí para ver servicios</a>
                <a class="special-btn ph3 pv3 br2 inline-flex tc db center" href="tel:{{ companyInfo.pachucaPhone }}">Llamar con un asesor</a>
            </div>

        </div>

    </main>

    {% include 'partials/_contact-section' %}




    {% include 'partials/footer' %}

{% endblock %}