{% extends 'partials/layout' %}
{% block title %} Contáctanos | {{ siteName }}{% endblock %}
{% block metas %}
    
    <meta content="Acerca de nosotros  | {{ siteName }}" property="og:title"/>
    <meta content="En Grupo Ciesc siempre estamos listos para resolver tus problemas fiscales, contables o de impuestos. Llámanos al {{ companyInfo.pachucaPhone }} y escríbenos  a {{ companyInfo.email }}" name="description">
    <meta content="En Grupo Ciesc siempre estamos  listos para resolver tus problemas fiscales, contable o de impuestos. Llámanos al {{ companyInfo.pachucaPhone }} y escríbenos  a {{ companyInfo.email }}" property="og:description">
    <meta property="og:image" content="/images/og-image.png">
	<meta property="og:url" content="{{siteUrl}}">
	<meta name="twitter:card" content="summary_large_image"/>
{% endblock %}

{% block content %}
    {% include 'partials/nav' %}
    <main class="contact-hero flex items-center">
        <div class="mwc center ph3 tc">
            <h1 class="ttu fw5 white">Contáctanos  <span class="b">Ahora</span></h1>
            <p class="f3 fw5 white">¿Deseas conocer nuestros servicios ?</p>
            <a href="" class="white db pv4">Click aquí para ver servicios</a>
            <a class="special-btn ph3 pv3 br2 inline-flex tc db center" href="tel:{{ companyInfo.pachucaPhone }}">Llamar con un asesor</a>
        </div>

    </main>

    <section class="pv5-ns pv3 bg-near-white">
        <div class="mwc center">
            <div class="form-card bg-white pa4 br4 w-70-ns w-100 center">
                <div class="flex flex-wrap">
                    <div class="w-50-ns w-100 relative-ns">
                        <div class="form-img-wrapper absolute-ns" style="left: -5rem;">
                            <img class="w-70 br3 dib-ns dn" src="/images/contact-form.png" alt="">
                        </div>
                    </div>
                    <div class="w-50-ns w-100">
                        <div>
                            <h2 class="f2 black-60 fw5 mv0 pv1"> Escríbenos</h2>
                            <p class="lh-copy pv1 mv0">Si requieres más información déjanos un mensaje, lo atenderemos a la brevedad.</p>
                        </div>
                        <form action="">
                            <div class="flex flex-wrap">
                                <div class="w-50-ns w-100 mv2">
                                    <input class="w-90 center ciesc-input" type="text" placeholder="Nombre">
                                </div>
                                <div class="w-50-ns w-100 mv2">
                                    <input class="w-90 center ciesc-input" type="text" placeholder="Correo">
                                </div>
                                <div class="w-50-ns w-100 mv2">
                                    <input class="w-90 center ciesc-input" type="text" placeholder="Empresa">
                                </div>
                                <div class="w-50-ns w-100 mv2">
                                    <input class="w-90 center ciesc-input" type="text" placeholder="Teléfono">
                                </div>
                                <div class="w-100 mv2">
                                    <input class="w-90 center ciesc-input" type="text" placeholder="Giro de la empresa">
                                </div>
                                <div class="w-100 mv2">
                                    <textarea class="w-90 center ciesc-input" name="" id="" cols="30" rows="5"></textarea>
                                </div>
                                 <button class="prim-btn b--transparent ph4 pv3 br2" type="submit">Enviar mensaje</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pv5-ns pv3 tc">
        <div class="mwc center ph3">
            <div>
                <h2>Nuestras direcciones</h2>
                
            </div>
            <div class="flex flex-wrap">
                <div class="w-50-ns w-100">
                    <div class="w-60-ns center tc">
                        <h2>Dirección Sucursal Pachuca</h2>
                        <p class="lh-copy">{{ companyInfo.pachucaAddress }}</p>
                        <a class="prim-btn ph4 pv3 br2 inline-flex" href="tel:{{ companyInfo.pachucaPhone }}">Marcar al: {{ companyInfo.pachucaPhone }}</a>
                    </div>
                </div>
                <div class="w-50-ns w-100">
                    <div class="w-60-ns center tc">
                        <h2>Dirección Sucursal Tizayuca</h2>
                        <p class="lh-copy">{{ companyInfo.tizayucaAddress }}</p>
                        <a class="prim-btn ph4 pv3 br2 inline-flex" href="tel:{{ companyInfo.tizayucaPhone }}">Marcar al: {{ companyInfo.tizayucaPhone }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'partials/footer' %}

{% endblock %}